* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    margin: 0;
    background-color: #202532;
}

/*GENERELT*/

	/*breaks mellemrum*/

.column {
	flex-basis: 400px;
	margin: 0 2vw 2vw 2vw;
}

br {
	line-height: 200%;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/*SEKTIONER*/

#forside,
#historie,
#flowchart,
#indholdsfortegnelse,
#maalgruppe,
#persona,
#moodboard,
#styletile,
#scenografi_karakterdesign,
#layoutdiagram,
#sekvensdiagram,
#assets,
#testdokument,
#fernisering,
#trello_backlog,
#burndownchart {
    max-width: 1024px;
    margin: 10vw auto;
    padding: 1.5vw;
    /*    background-color: #e9eced;*/
    background-color: #89cce5;
    border-radius: 50px;
}

/**** FONT TYPE ****/

h1 {
    font-family: "futura-pt";
    font-weight: 700;
    font-style: normal;
    font-size: 5.5vw;
    color: #ffffff;
    margin: 6% 0 0 0;
    text-transform: uppercase;
}

h2 {
    font-family: "futura-pt";
    font-weight: 600;
    font-style: normal;
	margin-bottom: 1vw;
    font-size: 3vw;
    color: #ffffff;
    text-align: center;
    border-bottom: solid;
    border-width: 5px;
    padding: 0 0 10px 0;
}

h4 {
    font-family: "futura-pt";
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    margin: 0;
    padding: 0 0 5px 0;
}

ul {
    font-family: "futura-pt";
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
}

li {
    padding: 2px;
}

p {
    font-family: "futura-pt";
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
}

/**** NAVIGATIONSBARER****/

nav {
    background-color: #89cce5;
    padding: 20px 0px 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 60px;
}

.titel {
    flex-basis: 200px;
    flex-grow: 1;
    text-align: center;
    border-radius: 60px;
    background-color: #202532;
    height: 15vw;
    align-self: center;
}

.logo {
    flex-basis: 100px;
    padding: 15px;
}

.logo img {
    width: 25vw;
}


#indholdsfortegnelse a {
    padding: 5px;
    font-size: 1.5vw;
	width: 17vw;
	height: 100%;

    text-decoration: none;
    color: #ffffff;
    border: solid;
    border-radius: 15px;
    border-color: #202532;
    background-color: #202532;
    color: #ffffff;
    text-align: center;
    margin: 5px;
}

#indholdsfortegnelse a:hover {
    color: #f4912d;
}

/*BILLEDER*/

img {
    width: 100%;
	height: 100%;
    border-radius: 30px;

}

#logo img {
    border-radius: 0;
}

/*CONTAINERS*/

.container {
    width: 100%;
    margin: 1vw 0 2vw 0;
    /*
    border-radius: 30px;
    background-image: url(images/flowchart.svg);
    width: 56vw;
    height: 30vw;
    background-repeat: no-repeat;
        position: relative;
*/
}


/*FORSIDE*/

#forside .column_bottom {
    background-color: #f4912d;
    border-radius: 30px;
    border: solid;
    border-color: #e9eced;
    border-width: 5px;
}

/*HISTORIE*/

/*PERSONA*/
#persona .container {
	display: block;
}

#persona .column_content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#persona .right, #persona .left {
	margin: 1vw;
	flex-basis: 400px;
}

/* pige fast størrelse */
#persona .column_top .right {
	height: 400px;
	width: 400px;
}

/*Moodboard*/
#moodboard .container {
	width: 50vw;
	height: 50vw;
}

#moodboard .img {
	width: 100%;
	height: 100%;
}
/*Stylestile*/
#styletile .top img {
	width: 100%;
	height: 100%;
}
