* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    margin: 0;
    background-color: #202532;
}


/*SEKTIONER*/

#forside,
#historie,
#flowchart,
#indholdsfortegnelse,
#maalgruppe,
#persona,
#moodboard,
#styletile,
#scenografi_karakterdesign,
#layoutdiagram,
#sekvensdiagram,
#assets,
#testdokument,
#fernisering,
#trello_backlog,
#burndownchart {
    max-width: 1024px;
    margin: 10vw auto;
    padding: 1.5vw;
    /*    background-color: #e9eced;*/
    background-color: #89cce5;
    border-radius: 50px;
}

/**** FONT TYPE ****/

font-family: futura-pt-bold,
sans-serif;
font-style: normal;
font-weight: 700;

h1 {
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5.5vw;
    color: #ffffff;
    margin: 6% 0 0 0;
}

h2 {
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3vw;
    color: #ffffff;
    text-align: center;
    border-bottom: solid;
    border-width: 5px;
    padding: 0 0 10px 0;
}

h4 {
    font-family: "futura-pt", sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0 0 5px 0;
}

ul {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    color: #ffffff;
}

li {
    padding: 2px;
}

/**** NAVIGATIONSBARER****/

nav {
    background-color: #89cce5;
    padding: 20px 0px 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 60px;
}

.titel {
    flex-basis: 200px;
    flex-grow: 1;
    text-align: center;
    border-radius: 60px;
    background-color: #202532;
    height: 15vw;
    align-self: center;
}

.logo {
    flex-basis: 100px;
    padding: 15px;
}

.logo img {
    width: 25vw;
}

#indholdsfortegnelse a {
    width: 15vw;
    height: 3vw;
    padding: 5px;

    font-size: 1.5vw;

    text-decoration: none;
    color: #ffffff;
    border: solid;
    border-radius: 15px;
    border-color: #202532;
    background-color: #202532;
    color: #ffffff;
    text-align: center;
    margin: 5px;
}

#indholdsfortegnelse a:hover {
    color: #f4912d;
}

/*BILLEDER*/

img {
    width: 100%;
    border-radius: 30px;

}

#logo img {
    border-radius: 0;
}

/*CONTAINERS*/

.container {
    width: 100%;
    padding: 30px;
}


/*FORSIDE*/

#forside .column_bottom {
    /*    background-color: #89cce5;*/
    background-color: #f4912d;
    border-radius: 30px;
    border: solid;
    /*    border-color: #202532;*/
    border-color: #e9eced;
    border-width: 5px;
}
