body {
    margin: 0;
    padding: 0;
}



#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#mellemgrund {
    background-image: url("#");
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    overflow: hidden;
}

#baggrund {
    background-image: url("images/baggrund.svg");
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    overflow: hidden;
}

#instagram {
    background-image: url(images/instagram.png);
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 12vw;
    height: 8vw;
    top: 3vw;
    left: 24vw;
}

/*
#billede_container {
    position: absolute;
    width: 100vw;
    height: 80vw;
    top: 8.3vw;
    left: 25.7vw;
}
*/

#start_billede {
    background-image: url(images/klassebillede.svg);
    background-size: 100%;
    position: absolute;
    width: 100vw;
    height: 80vw;
    top: 10vw;
    left: 25.7vw;
}

#loginknap {}

#lukknap {}

#delknap {}

#klasse_billede {
    background-image: url(images/klassebillede.svg);
    background-size: 100%;
    position: absolute;
    width: 100vw;
    height: 80vw;
    top: 8.3vw;
    left: 25.7vw;
    opacity: 0;
}


#druk_billede {
    background-image: url(images/drukbillede.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100vw;
    height: 80vw;
    top: 8.3vw;
    left: 25.7vw;
    opacity: 0;
}

#toilet_billede {
    background-image: url(images/);
    background-size: 100%;
    position: absolute;
    width: 100vw;
    height: 80vw;
    top: 8.3vw;
    left: 25.7vw;
    opacity: 0;
}

#ferie_billede {
    background-image: url(images/feriebillede.svg);
    background-size: 100%;
    position: absolute;
    width: 100vw;
    height: 80vw;
    top: 8.3vw;
    left: 25.7vw;
    opacity: 0;
}

#babysitting_billede {
    background-image: url(images/babysitter.svg);
    background-size: 100%;
    position: absolute;
    width: 100vw;
    height: 80vw;
    top: 8.3vw;
    left: 25.7vw;
    opacity: 0;
}

#ros1 {
    background-image: url(images/);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 30vw;
    opacity: 0;
}

#ros2 {
    background-image: url(images/);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 30vw;
    opacity: 0;
}

#ros3 {
    background-image: url(images/);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 30vw;
    opacity: 0;
}

#ros4 {
    background-image: url(images/);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 30vw;
    opacity: 0;
}

#info1 {
    background-image: url(images/);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 30vw;
    opacity: 0;
}


#info2 {
    background-image: url(images/);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 30vw;
    opacity: 0;
}

#info3 {
    background-image: url(images/);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 30vw;
    opacity: 0;
}

#info4 {
    background-image: url(images/);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 30vw;
    opacity: 0;
}

#payoff {
    background-image: url(images/);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 30vw;
    opacity: 0;
}


/*FADE ANIMATION*/

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}
