body {
    margin: 0;
    padding: 0;
}

/*
p {
    color: #fff;
}
*/

.hidden {
    display: none;
}

/* SCENEN MED BAGGRUND */

#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#baggrund {
    background-image: url("images/baggrund.svg");
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    overflow: hidden;
}

#instagram {
    background-image: url(images/instagram.png);
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 12vw;
    height: 8vw;
    top: 3vw;
    left: 24vw;
}


#funktion_soeg {
    position: absolute;

    background-size: 100%;
    background-repeat: no-repeat;
    height: 6vw;
    width: 3.8vw;
    left: 67.6vw;
    top: 2.9vw;
}

#funktion_soeg:hover {
    background-image: url(images/ikoner/find_ikon.svg);
}

#funktion_hjerte {
    position: absolute;

    background-size: 100%;
    background-repeat: no-repeat;
    height: 6vw;
    width: 3.8vw;
    left: 71.1vw;
    top: 2.8vw;
}

#funktion_hjerte:hover {
    background-image: url(images/ikoner/like_ikon.svg);
}

#funktion_profil {
    position: absolute;

    background-size: 100%;
    background-repeat: no-repeat;
    height: 6vw;
    width: 3.8vw;
    left: 74.8vw;
    top: 3.1vw;
}

#funktion_profil:hover {
    background-image: url(images/ikoner/profil_ikon.svg);
}


/*CONTAINERS*/

#login_container {
    position: absolute;
    width: 47vw;
    height: 47vw;
    top: 8.7vw;
    left: 25vw;
}

#billede_container {
    position: absolute;
    width: 40.1vw;
    height: 35.6vw;
    top: 12.5vw;
    left: 29.3vw;
}

#boks_container {
    position: absolute;
    width: 25.5vw;
    height: 23vw;
    top: 19vw;
    left: 37vw;
}

/* LOGIN */

#loginsprite {
    background-image: url(images/loginsprite.png);
    background-size: 1500%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#loginknap {
    position: absolute;
    background-image: url(images/knapper/login.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 2vw;
    width: 20vw;
    top: 35vw;
    left: 38.5vw;
    z-index: 1;
    cursor: pointer;

}

/*START BILLEDE*/

#start_billede {
    background-image: url(images/Start/start_billede.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 54.5vw;
    height: 60vw;
    top: 7.8vw;
    left: 21.5vw;
}

#startknap {
    position: absolute;
    background-image: url(images/knapper/startknap.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 7vw;
    height: 2.5vw;
    top: 51.5vw;
    left: 46.3vw;
    z-index: 1;
    cursor: pointer;
}


/* TAG VALG */

#lukknap {
    background-image: url(images/knapper/lukknap.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 6vw;
    width: 6vw;
    top: 28vw;
    left: 20.5vw;
    cursor: pointer;
    position: absolute;

}

#delknap {
    position: absolute;
    background-image: url(images/knapper/delknap.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 6vw;
    width: 6vw;
    top: 28vw;
    left: 72vw;
    cursor: pointer;
}


/*
#resultat_boks {
    position: absolute;
    background-color: #f4912d;
    border-radius: 30px;
    border-color: #ffffff;
    width: 15vw;
    height: 15vw;
    top: 10vw;
}
*/

/* INSTAGRAM BILLEDER */

#klasse_billede {
    background-image: url(images/instagrambilleder/klassebillede.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#druk_billede {
    background-image: url(images/instagrambilleder/druk.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#babysitting_billede {
    background-image: url(images/instagrambilleder/babysitting.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#rejse_billede {
    background-image: url(images/instagrambilleder/rejse_insta.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#ferie_billede {
    background-image: url(images/instagrambilleder/ferie.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*HASHTAGS*/

#hashtag_container {
    position: absolute;
    width: 32vw;
    height: 3vw;
    top: 51.5vw;
    left: 35vw;
}

#hashtag_klassebillede {
    background-image: url(images/hashtags/hashtag_klassebillede.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#hashtag_druk {
    background-image: url(images/hashtags/hashtag_druk.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}


#hashtag_rejse {
    background-image: url(images/hashtags/rejse.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#hashtag_babysitting {
    background-image: url(images/hashtags/hashtag_babysitting.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#hashtag_ferie {
    background-image: url(images/hashtags/hashtag_ferie.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*KNAP TIL BOKSE*/

#okknap {
    background-image: url(images/knapper/okknap.svg);
    background-size: 100%;
    position: absolute;
    cursor: pointer;
    width: 3.3vw;
    height: 3.3vw;
    top: 13vw;
    left: 20.5vw;
}

/*ROSBOKSE*/

#ros1 {
    background-image: url(images/faktabokse/klassebillede_ros.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

#ros2 {
    background-image: url(images/faktabokse/druk_ros.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

#ros3 {
    background-image: url(images/faktabokse/rejse_ros.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

#ros4 {
    background-image: url(images/faktabokse/babysitting_ros.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

#ros5 {
    background-image: url(images/faktabokse/rejse_ros.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*INFOBOKSE*/

#info1 {
    background-image: url(images/faktabokse/klassebillede_info.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}


#info2 {
    background-image: url(images/faktabokse/druk_info.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

#info3 {
    background-image: url(images/faktabokse/rejse_info.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

#info4 {
    background-image: url(images/faktabokse/babysitting_info.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

#info5 {
    background-image: url(images/faktabokse/ferie_info.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*RESULTATSIDE*/

#payoff {
    background-image: url(images/payoff/payoff2.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#ikon_telefon {
    background-image: url(images/payoff/payoff_ikon_tlf.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 6vw;
    width: 3.8vw;
    left: 67.6vw;
    top: 2.9vw;
}

#ikon_chat {
    background-image: url(images/payoff/payoff_ikon_chat.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 6vw;
    width: 3.8vw;
    left: 67.6vw;
    top: 2.9vw;
}

#ikon_mail {
    background-image: url(images/payoff/payoff_ikon_mail.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 6vw;
    width: 3.8vw;
    left: 67.6vw;
    top: 2.9vw;
}

/*SPRITE ANIMATION*/

.login_cycle {
    animation-name: login_cycle;
    animation-duration: 2s;
    animation-timing-function: steps(14);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes login_cycle {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -1400% 0%;
    }
}

/*FADE ANIMATION*/

.fade {
    animation-name: fade;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(0);
        /*        transform-origin: 50% 50%;*/
    }

    100% {
        opacity: 1;
        transform: scale(1);
        /*        transform-origin: 50% 50%;*/
    }

}


/*PULS ANIMATION*/

.puls {
    animation-name: pulse_kf;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes pulse_kf {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
