body {
    margin: 0;
    padding: 0;
}



#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#baggrund {
    background-image: url("images/baggrund.svg");
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    overflow: hidden;
}

#instagram {
    background-image: url(images/instagram.png);
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 12vw;
    height: 8vw;
    top: 3vw;
    left: 24vw;
}

#billede_container {
    position: absolute;
    width: 40.1vw;
    height: 35.6vw;
    top: 12.5vw;
    left: 29.3vw;
}

#login_container {
    position: absolute;
    width: 47vw;
    height: 47vw;
    top: 8.7vw;
    left: 25vw;
}

#loginsprite {
    background-image: url(images/loginsprite.png);
    background-size: 1500%;
    position: absolute;
    width: 100%;
    height: 100%;


}

#start_billede {
    background-image: url(images/instagrambilleder/klassebillede.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;

    /* skal laves om når billederne virker*/
}


/*Mangler ikoner + hover-ikoner*/

#loginknap {
    position: absolute;
    background-image: url(images/knapper/login.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 2vw;
    width: 20vw;
    top: 35vw;
    left: 38vw;
    z-index: 1;
    cursor: pointer;

}

#loginknap:hover {
    transform: scale(1.1);
}

#lukknap {
    background-image: url(images/knapper/cross.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    top: 28vw;
    left: 20vw;
    cursor: pointer;
    position: absolute;

}

#delknap {
    position: absolute;
    background-image: url(images/knapper/delny.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    top: 28vw;
    left: 72vw;
    cursor: pointer;
}

#klasse_billede {
    background-image: url(images/instagrambilleder/klassebillede.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}


#druk_billede {
    background-image: url(images/instagrambilleder/druk.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0;
}

#babysitting_billede {
    background-image: url(images/instagrambilleder/babysitting.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0;
}

#toilet_billede {
    background-image: url(images/instagrambilleder/toilet.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0;
}

#ferie_billede {
    background-image: url(images/instagrambilleder/ferie.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0;
}

/*HASHTAGS*/

#hashtag_container {
    position: absolute;
    width: 32vw;
    height: 3vw;
    top: 51.5vw;
    left: 35vw;
}

#hashtag_klassebillede {
    background-image: url(images/hashtags/hashtag_klassebillede.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#hashtag_druk {
    background-image: url(images/hashtags/hashtag_druk.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;

}

#hashtag_babysitting {
    background-image: url(images/hashtags/hashtag_babysitting.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#hashtag_toilet {
    background-image: url(images/hashtags/hashtag_toilet.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#hashtag_ferie {
    background-image: url(images/hashtags/hashtag_ferie.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/*ROSBOKSE*/

#ros1 {
    background-image: url(images/faktabokse/ros2.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}

#ros2 {
    background-image: url(images/faktabokse/ros2.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}

#ros3 {
    background-image: url(images/faktabokse/ros3.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}

#ros4 {
    background-image: url(images/faktabokse/ros4.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}

#ros5 {
    background-image: url(images/faktabokse/ros5.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}

/*INFOBOKSE*/

#info1 {
    background-image: url(images/faktabokse/info1.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}


#info2 {
    background-image: url(images/faktabokse/info2.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}

#info3 {
    background-image: url(images/faktabokse/info3.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}

#info4 {
    background-image: url(images/faktabokse/info4.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}

#info5 {
    background-image: url(images/faktabokse/info5.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}

/*RESULTATSIDE*/

#payoff {
    background-image: url(images/);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 30vw;
    opacity: 0;
}

/*SPRITE ANIMATION*/

.login_cycle {
    animation-name: login_cycle;
    animation-duration: 2s;
    animation-timing-function: steps(14);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes login_cycle {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -1400% 0%;
    }
}

/*FADE ANIMATION*/

.fade {
    animation-name: fade;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(0);
        /*        transform-origin: 50% 50%;*/
    }

    100% {
        opacity: 1;
        transform: scale(1);
        /*        transform-origin: 50% 50%;*/
    }

}


/*PULS ANIMATION*/

.puls {
	animation-name: pulse_kf;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

@keyframes pulse_kf {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1.5);
	}
}
