body {
    margin: 0;
    padding: 0;
}



#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#baggrund {
    background-image: url("images/baggrund.svg");
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    overflow: hidden;
}

#instagram {
    background-image: url(images/instagram.png);
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 12vw;
    height: 8vw;
    top: 3vw;
    left: 24vw;
}

#billede_container {
    position: absolute;
    width: 40.1vw;
    height: 35.6vw;
    top: 12.5vw;
    left: 29.3vw;
}

#login_container {
    position: absolute;
    width: 47vw;
    height: 47vw;
    top: 8.7vw;
    left: 25vw;
}

#loginsprite {
    background-image: url(images/loginsprite.png);
    background-size: 1500%;
    position: absolute;
    width: 100%;
    height: 100%;


}

#start_billede {
    background-image: url(images/Start/start_billede.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#startknap {
    position: absolute;
    background-image: url(images/Start/start_knap.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 8vw;
    height: 2.5vw;
    top: 32vw;
    left: 16.5vw;
    z-index: 1;
    cursor: pointer;
}

.hidden {
	display: none;
}

#loginknap {
    position: absolute;
    background-image: url(images/knapper/login.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 2vw;
    width: 20vw;
    top: 35vw;
    left: 38vw;
    z-index: 1;
    cursor: pointer;

}

#lukknap {
    background-image: url(images/knapper/cross.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    top: 28vw;
    left: 20vw;
    cursor: pointer;
    position: absolute;

}

#delknap {
    position: absolute;
    background-image: url(images/knapper/delny.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 5vw;
    width: 5vw;
    top: 28vw;
    left: 72vw;
    cursor: pointer;
}

#funktion_soeg {
    position: absolute;

    background-size: 100%;
    background-repeat: no-repeat;
    height: 6vw;
    width: 3.8vw;
    left: 67.6vw;
    top: 2.9vw;
}

#funktion_soeg:hover {
    background-image: url(images/ikoner/find_ikon.svg);
}

#funktion_hjerte {
    position: absolute;

    background-size: 100%;
    background-repeat: no-repeat;
    height: 6vw;
    width: 3.8vw;
    left: 71.1vw;
    top: 2.8vw;
}

#funktion_hjerte:hover {
    background-image: url(images/ikoner/like_ikon.svg);
}

#funktion_profil {
    position: absolute;

    background-size: 100%;
    background-repeat: no-repeat;
    height: 6vw;
    width: 3.8vw;
    left: 74.8vw;
    top: 3.1vw;
}

#funktion_profil:hover {
    background-image: url(images/ikoner/profil_ikon.svg);
}


#klasse_billede {
    background-image: url(images/instagrambilleder/klassebillede.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}


#druk_billede {
    background-image: url(images/instagrambilleder/druk.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#babysitting_billede {
    background-image: url(images/instagrambilleder/babysitting.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#toilet_billede {
    background-image: url(images/instagrambilleder/rejse_insta.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#ferie_billede {
    background-image: url(images/instagrambilleder/ferie.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*HASHTAGS*/

#hashtag_container {
    position: absolute;
    width: 32vw;
    height: 3vw;
    top: 51.5vw;
    left: 35vw;
}

#hashtag_klassebillede {
    background-image: url(images/hashtags/hashtag_klassebillede.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#hashtag_druk {
    background-image: url(images/hashtags/hashtag_druk.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#hashtag_babysitting {
    background-image: url(images/hashtags/hashtag_babysitting.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#hashtag_toilet {
    background-image: url(images/hashtags/rejse.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#hashtag_ferie {
    background-image: url(images/hashtags/hashtag_ferie.svg);
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*ROSBOKSE*/

#ros1 {
    background-image: url(images/faktabokse/klasseimgrigtig.svg);
    background-size: 100%;
	background-repeat: no-repeat;
    position: absolute;
    width: 25.5vw;
    height: 26vw;
    top: 18vw;
    left: 34.5vw;
}

#ros2 {
    background-image: url(images/faktabokse/drukimgrigtig.svg);
    background-size: 100%;
	background-repeat: no-repeat;
    position: absolute;
    width: 25.5vw;
    height: 26vw;
    top: 18vw;
    left: 34.5vw;
}

#ros3 {
    background-image: url(images/faktabokse/babyimgrigtig.svg);
    background-size: 100%;
	background-repeat: no-repeat;
    position: absolute;
    width: 25.5vw;
    height: 26vw;
    top: 18vw;
    left: 34.5vw;
}

#ros4 {
    background-image: url(images/faktabokse/Strandimgrigtig.svg);
    background-size: 100%;
	background-repeat: no-repeat;
    position: absolute;
    width: 25.5vw;
    height: 26vw;
    top: 18vw;
    left: 34.5vw;
}

#ros5 {
    background-image: url(images/faktabokse/lufthavnimgrigtig.svg);
    background-size: 100%;
	background-repeat: no-repeat;
    position: absolute;
    width: 25.5vw;
    height: 26vw;
    top: 18vw;
    left: 34.5vw;
}

/*INFOBOKSE*/

#info1 {
    background-image: url(images/faktabokse/klasseimgforker.svg);
    background-size: 100%;
	background-repeat: no-repeat;
    position: absolute;
    width: 25.5vw;
    height: 26vw;
    top: 18vw;
    left: 34.5vw;
}


#info2 {
    background-image: url(images/faktabokse/drukimgforkert.svg);
    background-size: 100%;
	background-repeat: no-repeat;
    position: absolute;
    width: 25.5vw;
    height: 26vw;
    top: 18vw;
    left: 34.5vw;
}

#info3 {
    background-image: url(images/faktabokse/babyimgforkert.svg);
    background-size: 100%;
	background-repeat: no-repeat;
    position: absolute;
    width: 25.5vw;
    height: 26vw;
    top: 18vw;
    left: 34.5vw;
}

#info4 {
    background-image: url(images/faktabokse/lufthavnimgforkert.svg);
    background-size: 100%;
	background-repeat: no-repeat;
    position: absolute;
    width: 25.5vw;
    height: 26vw;
    top: 18vw;
    left: 34.5vw;
}

#info5 {
    background-image: url(images/faktabokse/Strandimgforkert.svg);
    background-size: 100%;
	background-repeat: no-repeat;
    position: absolute;
    width: 25.5vw;
    height: 26vw;
    top: 18vw;
    left: 34.5vw;
}

/*RESULTATSIDE*/

#payoff {
    background-image: url(images/payoff/payoff2.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 30vw;
}

#ikon_telefon{
	background-image: url(images/payoff/payoff_ikon_tlf.svg);
	    background-size: 100%;
    background-repeat: no-repeat;
    height: 6vw;
    width: 3.8vw;
    left: 67.6vw;
    top: 2.9vw;
}

#ikon_chat{
	background-image: url(images/payoff/payoff_ikon_chat.svg);
	    background-size: 100%;
    background-repeat: no-repeat;
    height: 6vw;
    width: 3.8vw;
    left: 67.6vw;
    top: 2.9vw;
}

#ikon_mail{
	background-image: url(images/payoff/payoff_ikon_mail.svg);
	    background-size: 100%;
    background-repeat: no-repeat;
    height: 6vw;
    width: 3.8vw;
    left: 67.6vw;
    top: 2.9vw;
}

/*SPRITE ANIMATION*/

.login_cycle {
    animation-name: login_cycle;
    animation-duration: 2s;
    animation-timing-function: steps(14);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes login_cycle {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -1400% 0%;
    }
}

/*FADE ANIMATION*/

.fade {
    animation-name: fade;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(0);
        /*        transform-origin: 50% 50%;*/
    }

    100% {
        opacity: 1;
        transform: scale(1);
        /*        transform-origin: 50% 50%;*/
    }

}


/*PULS ANIMATION*/

.puls {
    animation-name: pulse_kf;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes pulse_kf {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
