body {
    margin: 0;
    padding: 0;
}



#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#mellemgrund {
    background-image: url("#");
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    overflow: hidden;
}

#baggrund {
    background-image: url("images/baggrund.svg");
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    margin: auto;
    position: absolute;
    overflow: hidden;
}

#instagram {
    background-image: url(images/instagram.png);
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 12vw;
    height: 8vw;
    top: 3vw;
    left: 24vw;
}

/*
#billede_container {
    position: absolute;
    width: 100vw;
    height: 80vw;
    top: 8.3vw;
    left: 25.7vw;
}
*/

#start_billede {
    background-image: url(images/klassebillede.svg);
    background-size: 100%;
    position: absolute;
    width: 100vw;
    height: 80vw;
    top: 10.1vw;
    left: 26.4vw;
}


/*Mangler ikoner + hover-ikoner*/

#loginknap {}

#lukknap {}

#delknap {}

#klasse_billede {
    background-image: url(images/klassebillede.svg);
    background-size: 100%;
    position: absolute;
    width: 100vw;
    height: 80vw;
    top: 8.3vw;
    left: 25.7vw;
    opacity: 0;
}


#druk_billede {
    background-image: url(images/drukbillede.svg);
    background-size: 100%;
    position: absolute;
    width: 100vw;
    height: 80vw;
    top: 8.3vw;
    left: 25.7vw;
    opacity: 0;
}

#babysitting_billede {
    background-image: url(images/babysitter.svg);
    background-size: 100%;
    position: absolute;
    width: 100vw;
    height: 80vw;
    top: 8.3vw;
    left: 25.7vw;
    opacity: 0;
}

#toilet_billede {
    background-image: url(images/);
    background-size: 100%;
    position: absolute;
    width: 100vw;
    height: 80vw;
    top: 8.3vw;
    left: 25.7vw;
    opacity: 0;
}

#ferie_billede {
    background-image: url(images/strandbillede.svg);
    background-size: 100%;
    position: absolute;
    width: 100vw;
    height: 80vw;
    top: 8.3vw;
    left: 25.7vw;
    opacity: 0;
}

/*HASHTAGS*/

#hashtag_klassebillede {
    background-image: url(images/hashtag_klassebillede.svg);
    background-size: 100%;
    position: absolute;
    width: 32vw;
    height: 4vw;
    top: 50.6vw;
    left: 33.5vw;
    opacity: 0;
}

#hashtag_drunk {
    background-image: url(images/hashtag_drunk.svg);
    background-size: 100%;
    position: absolute;
    width: 32vw;
    height: 4vw;
    top: 50.6vw;
    left: 33.5vw;
    opacity: 0;

    /*der er en "-" i hashtagget og mangler noget i det ene tag - gælder resten af hashtags'ne*/
}

#hashtag_babysitting {
    background-image: url(images/hashtag_babysitting.svg);
    background-size: 100%;
    position: absolute;
    width: 32vw;
    height: 4vw;
    top: 50.6vw;
    left: 33.5vw;
    opacity: 0;
}

#hashtag_toilet {
    background-image: url(images/hashtag_toilet.svg);
    background-size: 100%;
    position: absolute;
    width: 32vw;
    height: 4vw;
    top: 50.6vw;
    left: 33.5vw;
    opacity: 0;
}

#hashtag_ferie {
    background-image: url(images/hashtag_ferie.svg);
    background-size: 100%;
    position: absolute;
    width: 32vw;
    height: 4vw;
    top: 50.6vw;
    left: 33.5vw;
    opacity: 0;
}

/*ROSBOKSE*/

#ros1 {
    background-image: url(images/);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}

#ros2 {
    background-image: url(images/faktabokse/ros2.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}

#ros3 {
    background-image: url(images/faktabokse/ros3.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}

#ros4 {
    background-image: url(images/faktabokse/ros4.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}

#ros5 {
    background-image: url(images/faktabokse/ros5.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}

/*INFOBOKSE*/

#info1 {
    background-image: url(images/faktabokse/info1.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}


#info2 {
    background-image: url(images/faktabokse/info2.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}

#info3 {
    background-image: url(images/faktabokse/info3.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}

#info4 {
    background-image: url(images/faktabokse/info4.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}

#info5 {
    background-image: url(images/faktabokse/info5.svg);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 20.2vw;
    opacity: 0;
    top: 20vw;
    left: 34.5vw;
}

/*RESULTATSIDE*/

#payoff {
    background-image: url(images/);
    background-size: 100%;
    position: absolute;
    width: 30vw;
    height: 30vw;
    opacity: 0;
}


/*FADE ANIMATION*/

.fade {
    animation-name: fade;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(0);
        /*        transform-origin: 50% 50%;*/
    }

    100% {
        opacity: 1;
        transform: scale(1);
        /*        transform-origin: 50% 50%;*/
    }

}


/*PULS ANIMATION*/

.puls {}
